body {
	padding-top: 70px;
	background-color: #31465A;
}

.jumbotron {
	color: #2c3e50;
	background: #ecf0f1;
}

.navbar-inverse {
	background: #1F2C38;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}